scopeName: 'source.cps'
fileTypes: ['cps']
name: 'Catchpoint Script'
patterns: [
    {
        begin: '//'
        end: '\\n'
        name: 'comment.line.double-slash.cps'
    }
    {
        begin: '/\\*'
        end: '\\*/'
        name: 'comment.block.cps'
    }
    {
        begin: '"'
        beginCaptures:
          '0':
              name: 'punctuation.definition.string.begin.cps'
        end: '"'
        endCaptures:
          '0':
            name: 'punctuation.definition.string.end.cps'
        name: 'string.quoted.double.cps'
    }
    {
        begin: '\''
          beginCaptures:
            '0':
              name: 'punctuation.definition.string.begin.cps'
            end: '\''
          endCaptures:
            '0':
              name: 'punctuation.definition.string.end.cps'
          name: 'string.quoted.single.cps'
    }
    {
        match: '\\b(open|waitForNoRequest|setStepName|setIndicator|runScript|storeScriptVariable|var|setHeader)\\b'
        name: 'keyword.control.cps'
    }
]
